/* O CLUBE */
.oc-title{
	font-size: 42px;
	color: #23408e;
	font-weight: bolder;
}

.oc-title2{
	color: #00e9af;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.oc-main-text{
	color: #23408e;
	font-size: 18px;
	font-weight: bolder;
}

.oc-text{
	color: #23408e;
	font-size: 16px;
	font-weight: lighter;	
}